<!DOCTYPE html>
<html>
<head>
    <title>Fundin | 大数据分析</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/navbar.less">#}
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/navs.less">#}
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/glyphicons.less">#}

    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/user.css">


    {% block stylesheets %}{% endblock %}

    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
        var csrf_nonce = "{{ nonce }}";
        var model_box = "";
    </script>
    <script src="{{ request.script_root }}/html/user/static/js/jquery.min.js"></script>
    <script src="{{ request.script_root }}/html/user/static/js/bootstrap.min.js"></script>

    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

</head>
<body>
{#<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">#}
{##}
{#</nav>#}

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Fundin</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li {% if not url or url=="/" %}class="active"{% endif %}><a href="/">主页</a></li>

            <li class="dropdown{% if url and (url=="/all" or url=='/hot') %} active{% endif %}">

                    <a href="#" class="dropbtn nav-link">发现 <b class="caret"></b><span class="ico_down"></span></a>

                    <div class="dropdown-content topmost">
                        <a href="/hot">热门</a>
                        <a href="/all">所有基金</a>

                    </div>
            </li>


            <li class="dropdown{% if url and (url=="/fund" or url=='/standing') %} active{% endif %}">


                    <a href="#" class="dropbtn nav-link">市场 <b class="caret"></b><span class="ico_down"></span></a>

                    <div class="dropdown-content topmost">
                        <a id="search" href="javascript:void(0);">搜索</a>
                        <a href="/standing">排行</a>

                    </div>
            </li>

            <li {% if url and url=="/favourite" %}class="active"{% endif %}><a id="favourite" href="javascript:void(0);">自选</a></li>

		</ul>

        <p class="navbar-text navbar-right">　　　</p>

        <ul class="nav navbar-nav navbar-right">
            {%if not username %}
                <li><a id="register" href="#">注册</a></li>
                <li><a style="padding-left: 5px; padding-right: 5px;">|</a></li>
            {% endif %}
            {%if username %}
                <li class="dropdown">

                    <a href="#" class="dropbtn nav-link">{{ username }} <b class="caret"></b><span class="ico_down"></span></a>

                    <div class="dropdown-content topmost">
                        <a href="/wealth">我的资产</a>
                        <a href="/trade">交易记录</a>
                        <a href="#">设置</a>
                        <a id="logout" href="javascript:void(0);">退出</a>

                    </div>

                </li>
            {% else %}
                <li><a id="login" href="#">登录</a></li>
            {% endif %}

		</ul>
	</div>
	</div>
</nav>


<main role="main">

<div class="modal fade" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-size:20px;">Fundin</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <h4 class="modal-title">注册</h4>
                <br/>
{#                col-sm-offset-2 col-sm-8" style="margin-top: 40px;"#}
                <div class="site-login" style="margin-left:20%; width: 60%;">
                    <div class="showerror">

                    </div>
{#                    <form id="login-form" class="form-signin" style="margin-left:20%; width: 60%;" action="/register" method="post">#}
                        <input type="hidden" name="nonce"
                               value="{{ nonce }}">
                        <div class="form-group field-loginform-username required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-user"></i></span><input
                                    type="text" id="loginform-username" class="form-control" name="reg_username"
                                    placeholder="用户名" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-phone required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-phone"></i></span><input
                                    type="text" id="loginform-phone" class="form-control" name="reg_phone"
                                    placeholder="中国大陆手机号码" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-captcha required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-qrcode"></i></span><input
                                    type="text" id="loginform-captcha" class="form-control" name="reg_captcha"
                                    placeholder="短信验证码" aria-required="true">
                                <span class="input-group-addon" id="captcha_box"><a id="get_captcha" href="javascript:void(0);" onclick="get_captcha();" style="color: #555;">获取短信验证码</a></span></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-password required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-lock"></i></span><input
                                    type="password" id="loginform-password" class="form-control" name="reg_password"
                                    placeholder="密码" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" name="login-button" onclick="register();">注册</a>
                        </div>

{#                    </form>#}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-size:20px;">Fundin</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <h4 class="modal-title">登录</h4>
                <br/>
{#                col-sm-offset-2 col-sm-8" style="margin-top: 40px;"#}
                <div class="site-login" style="margin-left:20%; width: 60%;">
{#                    <form id="login-form" class="form-signin" style="margin-left:20%; width: 60%;" action="/login" method="post">#}
                        <div class="showerror">

                        </div>
                        <input type="hidden" name="nonce"
                               value="{{ nonce }}">
                        <div class="form-group field-loginform-username required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-user"></i></span><input
                                    type="text" id="loginform-username" class="form-control" name="login_username"
                                    placeholder="用户名或手机号" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-password required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-lock"></i></span><input
                                    type="password" id="loginform-password" class="form-control" name="login_password"
                                    placeholder="密码" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-rememberme">
                            <div class="checkbox">
                                <label for="loginform-rememberme">
                                    <input type="checkbox"
                                           id="loginform-rememberme"
                                           name="rememberMe"
                                           value="1" checked="">
                                    保持登录状态
                                </label>
                                <p class="help-block help-block-error"></p>

                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" name="login-button" onclick="login();">登录</a>
                            <a class="pull-right" href="/site/request-password-reset">忘记密码</a></div>

{#                    </form>#}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    {% block content %}
    {% endblock %}
</main>

<footer class="footer pt-2">
    <div class="container text-center" style="margin-top: 50px;margin-bottom: 15px;">
        <a href="http://www.beian.miit.gov.cn">
            <small class="text-muted">苏ICP备19008565-2号</small><br></a>
        <a href="http://www.xyu.ink/about/">
            <small class="text-muted">Copyright © 2020 xuhaoyu@tju.edu.cn All Rights Reserved.</small><br></a>

    </div>
</footer>


<!-- /scripts -->
<script type="text/javascript">

    const a=['沪深300', '电子', '娱乐', '信息', '医药', '银行', '证券', '上证50', '消费', '中小盘', '能源', '成长', '证券' ,'金融', '指数', '资源', '黄金'];
    var time_left = 0;


    setInterval(function(){
        if (time_left > 0){
            time_left -= 1;
            if (time_left > 0){
                $('#captcha_box').empty();
                $('#captcha_box').append('<span class="text-muted">' + time_left.toString() +'秒后再次发送</span>');
            }else{
                $('#captcha_box').empty();
                $('#captcha_box').append('<a id="get_captcha" href="javascript:void(0);" onclick="get_captcha();" style="color: #555;">获取短信验证码</a>');
            }
        }
    },1000);

$(function () {

    $('#search').click(function () {
        const i = Math.floor(Math.random()*a.length);
        document.location.href = "/fund?q=" + a[i]
    });

    {%if login %}
        $('#loginModal').modal('show');
        model_box = "login";
    {% endif %}

    $("#favourite").click(function () {
        {% if username %}
            document.location.href = "/favourite";
        {% else %}
            model_box = "login";
            $('#loginModal').modal('show') //显示模态框
        {% endif %}
    });

    $("#login").click(function () {
        model_box = "login";
        $('#loginModal').modal('show') //显示模态框
    });

    $("#logout").click(function () {
        logout();
    });

    $("#register").click(function () {
        model_box = "register";
        $('#registerModal').modal('show') //显示模态框
    });

    $(document).keydown(function (event){
        if (event.keyCode == 13) {
          {#$('#Submit').triggerHandler('click');#}
            if(model_box=="login"){
                login();
            }else if(model_box=="register"){
                register();
            }
        }
    });
});

function goto(url) {
    document.location.href = url;
}

function isPoneValid(poneInput) {
    var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
    if (!myreg.test(poneInput)) {
        return false;
    } else {
        return true;
    }
}

function showerror(msg) {
    $('.showerror').empty();
    $('.showerror').hide();
    $('.showerror').append('<div class="alert alert-danger alert-dismissable" role="alert">' +
            '<span class="sr-only">Error:</span>'+
            msg +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span'+
                   ' aria-hidden="true">×</span></button></div>');
    $('.showerror').fadeIn();
    setTimeout(function () {
            $('.showerror').fadeOut();
        }, 2500);
}

function get_captcha() {
    const phone = $(" input[ name='reg_phone' ] ").val();

    if (phone.length==0){
        showerror('手机号不能为空');
        return;
    }

    if (!isPoneValid(phone)){
        showerror('请输入正确的手机号');
        return;
    }

    $.post(script_root + '/send_sms', {
        'phone': phone,
        'nonce': $(" input[ name='nonce' ] ").val(),
    }, function (data) {
        //document.location.href = "/team";
        if (data.length==0) {
            $('#captcha_box').empty();
            $('#captcha_box').append('<span class="text-muted">60秒后再次发送</span>');
            time_left = 60;
        }
        else {
           showerror(data[0]);
           return;
        }

    });


}

function register(){

    const username = $(" input[ name='reg_username' ] ").val();
    const phone = $(" input[ name='reg_phone' ] ").val();
    const captcha = $(" input[ name='reg_captcha' ] ").val();
    const password = $(" input[ name='reg_password' ] ").val();


    if (username.length==0){
        showerror('用户名不能为空');
        return;
    }

    if (isPoneValid(username)){
        showerror('用户名不能为手机号');
        return;
    }

    if (phone.length==0){
        showerror('手机号不能为空');
        return;
    }

    if (!isPoneValid(phone)){
        showerror('请输入正确的手机号');
        return;
    }

    if (captcha.length==0){
        showerror('请输入短信验证码');
        return;
    }

    if (captcha.length!=6){
        showerror('短信验证码错误');
        return;
    }


    if (password.length==0){
        showerror('密码不能为空');
        return;
    }

    $('.showerror').empty();

    $.post(script_root + '/register', {
        'username': username,
        'phone': phone,
        'captcha': captcha,
        'password': password,
        'nonce': $(" input[ name='nonce' ] ").val(),
    }, function (data) {
        //document.location.href = "/team";
        if (data.length==0) {
            document.location.href = "/"
        }
        else {
           showerror(data[0]);
           return;
        }

    });

}

function logout() {
    $.get(script_root + '/logout', function (data) {
        //document.location.href = "/team";
        {% if url and url!='/favourite' %}
            document.location.href = "{{ url }}";
        {% else %}
            document.location.href = "/";
        {% endif %}
    });
}

function login(){

    const username = $(" input[ name='login_username' ] ").val();
    const password = $(" input[ name='login_password' ] ").val();


    if (username.length==0){
        showerror('用户名不能为空');
        return;
    }
    if (password.length==0){
        showerror('密码不能为空');
        return;
    }

    $('#showerror').empty();

    $.post(script_root + '/login', {
        'username': username,
        'password': password,
        'nonce': $(" input[ name='nonce' ] ").val(),
    }, function (data) {
        //document.location.href = "/team";
        if (data.length==0) {
            {% if url %}
                document.location.href = "{{ url }}";
            {% else %}
                document.location.href = "/";
            {% endif %}
        }
        else {
           showerror(data[0]);
           return;
        }

    });

}
</script>
<!-- /scripts -->

{% block scripts %}
{% endblock %}

</body>
</html>
