{% extends "base.html" %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<!-- 模态框（Modal） -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 id="modal_title">

                    </h4>
                </div>
                <div id="modal_body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="jumbotron">
        <div class="container">
            <h3 class="q-awards">'{{ q if q else '所有基金' }}' 的搜索结果

                <span class="create-team" role="button" data-toggle="tooltip" title="Create Award">
				<a href="/admin/users">
					<i class="btn-fa fas fa-plus-circle black"></i>
				</a>
			</span>
            </h3>

        </div>
    </div>
    <div class="container">
        {% if url == '/fund' %}
            <div class="col-md-7">
                <form method="GET" class="form-inline">
                    <div class="form-group col-md-5" style="margin-left: 30px;">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-leaf"></i></span>
                            <input type="text" class="form-control" id="team-name-search" name="q" placeholder="输入基金名称或代码" {% if q %}value="{{q}}"{% endif %}>
                        </div>
                    </div>

                        <button type="submit" class="btn btn-primary" style="margin-left: 5px;"><span><i class="glyphicon glyphicon-search"></i></span></button>

                    </form>
            </div>
        {% endif %}
    </div>
    {% if data %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped table-bordered" style="margin-bottom:0px;">
                    <caption>表1</caption>
                    <colgroup>
                        <col width="50px">
                        <col>
                        <col width="90px">
                        <col width="90px">
                        <col width="70px">
                        <col width="90px">
                        <col width="70px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th style="text-align: center;">昨日净值</th>
                            <th style="text-align: center;">今日净值</th>
                            <th style="text-align: center;">
                                {% if url=='/standing' %}
                                    {% if asc %}
                                        <a href="/standing">涨跌 <b class="caret up"></b></a>
                                    {% else %}
                                        <a href="/standing?asc=1">涨跌 <b class="caret"></b></a>
                                    {% endif %}
                                {% else %}
                                    涨跌
                                {% endif %}

                            </th>
                            <th style="text-align: center;">买入费率</th>
                            <th style="text-align: center;">加自选</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td><a href="#detail_{{ d.id }}">{{ d.id }}</a></td>
                                <td>
                                    {% if his_dict and his_dict[d.id] %}
                                        <a href="/detail?id={{ d.id }}">{{ d.name }}</a>
                                        [<a href="#detail_{{ d.id }}">数据分析</a>]
                                        {% if chance and d.id in chance %}
                                            {% if chance[d.id] < -10 %}
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                            {% elif chance[d.id] < -5 %}
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-flash yellow cursor-pointer" data-toggle="tooltip" title="存在买入时机"></i>
                                            {% endif %}



                                        {% endif %}
                                        {% if top and d.id in top %}
                                            <i class="glyphicon glyphicon-flag red cursor-pointer" data-toggle="tooltip" title="高点"></i>
                                        {% endif %}

                                    {% else %}
                                        <a href="/detail?id={{ d.id }}">{{ d.name }}</a>
                                    {% endif %}

                                </td>
                                <td style="text-align: center;">{{ d.value_yesterday if d.value_yesterday else '-'}}</td>
                                <td style="text-align: center;">
                                    {% if d.value_today  %}
                                        {% if d.rate %}
                                            {% if '-' in d.rate %}
                                                <span class="green">{{ d.value_today }}</span>
                                            {% elif d.rate=='0.00' %}
                                                <span class="grey">{{ d.value_today }}</span>
                                            {% else %}
                                                <span class="red">{{ d.value_today }}</span>
                                            {% endif %}
                                        {% else %}
                                            {{ d.value_today }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if d.rate %}
                                        {% if '-' in d.rate %}
                                            <span class="green">{{ d.rate }}%</span>
                                        {% elif d.rate=='0.00' %}
                                            <span class="grey">{{ d.rate }}%</span>
                                        {% else %}
                                            <span class="red">{{ d.rate }}%</span>
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}

                                </td>
                                <td style="text-align: center;">{{ d.fee }}</td>
                                <td id="star_{{ d.id }}" style="text-align: center;">
                                    {% if d.id in fav_list %}
                                        <!--加自选 -->
                                        <a href="javascript:void(0);" onclick="unstar('{{ d.id }}')"><i class="glyphicon glyphicon-star yellow"></i></a>
                                    {% else %}
                                        <a href="javascript:void(0);" onclick="star('{{ d.id }}')">
                                            <i class="glyphicon glyphicon-star-empty" style="color: #333;"></i>
                                        </a>
                                    {% endif %}

                                    </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="text-muted wy-text-small" style="font-size:10px;margin-top: 5px;">最后更新: {{ last_update if last_update else 'None'}}</p>
            </div>

        </div>
    </div>
    {% else %}
        <div class="container">
        <p><br/>没有可以显示的结果，去<a href="/all">基金市场</a>看看</p>
        </div>

    {% endif %}

    {% if his_dict %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-bordered">
                    <caption>表2</caption>
                    <colgroup>
                        <col width="90px">
                        <col>
                        <col width="90px">
                        <col width="90px">
                        <col width="90px">

                    </colgroup>
                    <thead>
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">名称</th>
                            <th style="text-align: center;">净值</th>
                            <th style="text-align: center;">
                                {% if url=='/standing' %}
                                    {% if asc %}
                                        <a href="/standing">涨跌 <b class="caret up"></b></a>
                                    {% else %}
                                        <a href="/standing?asc=1">涨跌 <b class="caret"></b></a>
                                    {% endif %}
                                {% else %}
                                    涨跌
                                {% endif %}

                            </th>
                            <th style="text-align: center;">买入费率</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td id="detail_{{ d.id }}" style="text-align: center;">{{ d.id }}</td>
                                <td style="text-align: center;"><a href="/detail?id={{ d.id }}"><strong>{{ d.name }}</strong></a></td>
                                <td style="text-align: center;">
                                    {% if d.value_today  %}
                                        {% if d.rate %}
                                            {% if '-' in d.rate %}
                                                <span class="green">{{ d.value_today }}</span>
                                            {% elif d.rate=='0.00' %}
                                                <span class="grey">{{ d.value_today }}</span>
                                            {% else %}
                                                <span class="red">{{ d.value_today }}</span>
                                            {% endif %}
                                        {% else %}
                                            {{ d.value_today }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if d.rate %}
                                        {% if '-' in d.rate %}
                                            <span class="green">{{ d.rate }}%</span>
                                        {% elif d.rate=='0.00' %}
                                            <span class="grey">{{ d.rate }}%</span>
                                        {% else %}
                                            <span class="red">{{ d.rate }}%</span>
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}

                                </td>
                                <td style="text-align: center;">{{ d.fee }}</td>

                            </tr>
                            {% if his_dict[d.id] %}

                                {% for i in range(15) %}
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center;">{{ his_dict[d.id]['value_' ~ i][1]}}</td> <!--日期-->
                                        <td style="text-align: center;">
                                            {% if '-' in his_dict[d.id]['rate_' ~ i][0] %}
                                                <span class="green">{{ his_dict[d.id]['value_' ~ i][0]}}</span>
                                            {% elif his_dict[d.id]['rate_' ~ i][0]=='0' %}
                                                <span class="grey">{{ his_dict[d.id]['value_' ~ i][0]}}</span>
                                            {% else %}
                                                <span class="red">{{ his_dict[d.id]['value_' ~ i][0]}}</span>
                                            {% endif %}

                                        </td>
                                        <td style="text-align: center;">
                                            {% if '-' in his_dict[d.id]['rate_' ~ i][0] %}
                                                <span class="green">{{ his_dict[d.id]['rate_' ~ i][0]}}%</span>
                                            {% elif his_dict[d.id]['rate_' ~ i][0]=='0' %}
                                                <span class="grey">{{ his_dict[d.id]['rate_' ~ i][0]}}%</span>
                                            {% else %}
                                                <span class="red">{{ his_dict[d.id]['rate_' ~ i][0]}}%</span>
                                            {% endif %}
                                        </td>
                                        <td><a href="/detail?id={{ d.id }}"></a></td>
                                    </tr>
                                {% endfor %}
                                <tr><td>　</td><td></td><td></td><td></td></tr>
                                {% for i in [7, 30, 60, 90, 365] %}
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center;">昨日相比{{ i }}日最高</td>
                                        <td style="text-align: center;">
                                            {% if '-' in his_dict[d.id]['max_' ~ i][0] %}
                                                <span class="green">{{ his_dict[d.id]['max_' ~ i][0]}}%</span>
                                            {% elif his_dict[d.id]['max_' ~ i][0]=='0' %}
                                                <span class="grey">{{ his_dict[d.id]['max_' ~ i][0]}}%</span>
                                            {% else %}
                                                <span class="red">{{ his_dict[d.id]['max_' ~ i][0]}}%</span>
                                            {% endif %}

                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center;">昨日相比{{ i }}日最低</td>
                                        <td style="text-align: center;">
                                            {% if '-' in his_dict[d.id]['min_' ~ i][0] %}
                                                <span class="green">{{ his_dict[d.id]['min_' ~ i][0]}}%</span>
                                            {% elif his_dict[d.id]['min_' ~ i][0]=='0' %}
                                                <span class="grey">{{ his_dict[d.id]['min_' ~ i][0]}}%</span>
                                            {% else %}
                                                <span class="red">{{ his_dict[d.id]['min_' ~ i][0]}}%</span>
                                            {% endif %}

                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                {% endfor %}

                                <tr><td>　</td><td></td><td></td><td></td><td></td></tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
    function show_info(body, title='错误提示'){
        $('#modal_title').empty();
        $('#modal_title').append(title);
        $('#modal_body').empty();
        $('#modal_body').append(body);
        $('#info').modal('show');
    }
    function star(fid){
        $.get(script_root + '/star?id=' + fid, function (data) {
            //document.location.href = "/team";
            if (data[0] == 'succeed'){
                $('#star_' + fid).empty();
                $('#star_' + fid).append('<a href="javascript:void(0);" onclick="unstar(' + "'" + fid + "'" +')"><i class="glyphicon glyphicon-star yellow"></i></a>')
            }else{
                show_info(data[0]);
            }
        });

    }

    function unstar(fid){
        $.get(script_root + '/unstar?id=' + fid, function (data) {
            //document.location.href = "/team";
            if (data[0] == 'succeed'){
                $('#star_' + fid).empty();
                $('#star_' + fid).append('<a href="javascript:void(0);" onclick="star(' + "'"+ fid + "'" +')"><i class="glyphicon glyphicon-star-empty" style="color: #333;"></i></a>')
            }else{
                show_info(data[0]);
            }
        });

    }

    $(document).ready(function () {

    });
    </script>
{% endblock %}
